<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vishnu.handcricket" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Hand Cricket</name>
    <description>
        A fun and easy-to-play hand based cricket game!
    </description>
    <author email="vishnupavan.satish@gmail.com" href="http://www.vishnus.me">
        Vishnu Satish
    </author>
    <icon src="icon.png" />
    <splash src="splash.png" />
    <content src="index.html" />
    <access origin="*" />
    <engine name="browser" spec="~5.0.4" />
    <preference name="android-minSdkVersion" value="17" />
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
</widget>
